/*body {
    background:#757575;
    z-index:-5;
}*/

body {
	overflow: visible !important;
	background: -webkit-linear-gradient(45deg, #777777 10%, #333333 90%);
	background: -moz-linear-gradient(45deg, #777777 10%, #333333 90%);
	background: -ms-linear-gradient(45deg, #777777 10%, #333333 90%);
	background: -o-linear-gradient(45deg, #777777 10%, #333333 90%);
	background: linear-gradient(45deg, #777777 10%, #333333 90%);
	z-index: -5;
	height: 100%;
 }

#tracerBox {
	margin-right: 5%;
	margin-top: 5%;
	background-color: #000;
	z-index: 2;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

#lines {
    background-size: 40px 40px;  
    background-image:repeating-linear-gradient(0deg, #fff, #fff 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 40px);
    height:100%;
    width: 2000px;
    opacity:0.14;
    position:absolute;
    z-index: -3;
    overflow: auto;
}

#traceContainer {
	position: absolute;
}

.trace {
	height: 10px;
	width: 2000px;
}

.run{
	height: 100%;
	width: 40px;
	float: left;
	opacity:0.8;
	color: white;
	font-size: 10px;
	text-align: center;
}

#tLabels {
	margin-left: 5%;
	float: left;
	text-align: right;
}

#quantums {
	//margin-top: 7px;
	position: absolute;
	width: 2000px;
}

.qLabels {
	display: table-cell;
	color: white;
	width: 40px; 
	text-align: left;
}

.ui-tooltip {
    white-space: pre-line;
}